{% extends 'events/base.html' %}

{% block content %}
<center>
    <h1>Hello {{ name }}! Events for {{ month }} {{ year }}</h1>
      Current time {{ time }}
        <br/><br/><br/>
          {{ cal|safe }}
        <br/><br/>
        <h3>Events this month</h3>
</center>
{% if event_list %}
  {% for event in event_list %}
    
  <div class="card">
      <div class="card-header">
        {{ event }}
      </div>
      <div class="card-body">
        <h5 class="card-title">Venue: {{event.venue }}</h5>
        <p class="card-text">

        <strong>Date: </strong> {{event.event_date }}<br/>
        <strong>Venue: </strong> {{event.venue }}<br/>
        <strong>Venue Website: </strong>{{event.venue.web }}<br/>
        <strong>Manager: </strong>{{event.manager }}<br/>
        <strong>Description: </strong> {{event.description }} <br/>
          
          <strong>Attendees: </strong> 
          {% for user in event.attendees.all %}
            {{ user }}<br/>

    <br><br>
    {% endfor %}
{% endfor %}
  {% else %}
  Sorry, no events in this month.
{% endif %}


        <br/><br/><br/><br/>
    Current year: {{ current_year }}

{% endblock %}